<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ophthalmic_Clinic.Properties.Settings.Ophthalmic_ClinicConnectionString"
            connectionString="Data Source=DESKTOP-IHIJGM8\SQLEXPRESS;Initial Catalog=Ophthalmic_Clinic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
